<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/skills">skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Contact me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/projects">project details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/education&exp">Education & Experience</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x300/?machine learning" class="d-block w-30" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x300/?website" class="d-block w-30" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x300/?research" class="d-block w-30" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      <br>
      <br>
    <div class="container">
      <h5 style="text-align:center">**** click on the project titles to see the projects ****</h5>
      <br> 
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/1600x600/?medicines" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/1biswarup2/drug-discovery">
                      Assessment Of Drug on Protein Molecule for Disease Prevention
                </a>
              </h5>
              <p class="card-text">
                A prediction system that can tell if a newly discovered drug is able to prevent a certain disease or not.
                    The main objective of the project was to help researchers to find out if their newly invented drug molecule is
                    capable of preventing a certain disease or not.
                    Here I have got an accuracy of approximately 86 percent.
                    Technology Used: Python , pandas , numpy, rdkit, seaborn, matplotlib, sklearn.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/1600x600/?robots" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/1biswarup2/text_summarization">
                        Text summarization using NLP
                </a>
              </h5>
              <p class="card-text">
                Here I have shown various techniques to get extractive summary of any text provided in a given number of lines
                 I have shown here three techniques of summarization: a. Page-rank score based, b. Maximum Marginal
                 Relevance based and c. Clustering based.
                 Technology and libraries Used: python,nltk,sklearn,networkx,numpy,scipy,math,random.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/1600x600/?computer network"class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <a href="https://github.com/1biswarup2/chat-server-using-socket">
                     Realtime Chat App using Socket Programming
                </a>
              </h5>
              <p class="card-text">
                A client-server application that allows users to chat in real time.
                Here I have built a client-server chat system using socket programming so that they can interact in real time
                Technology and libraries Used : c, sys/socket.h , netinet/in.h , arpa/inet.h
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/1600x600/?website" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">A HTML-CSS-Django based website</h5>
              <p class="card-text">
                This is the site.
                Technology used: HTMl,CSS,bootstrap,python,Django
              </pre>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br>
      <h1 id="contact"class="text-center"> Contact Me</h1>
      <div class="container mt-4">
        <div class=" text-center mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="text-center mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">How can I help you ? </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <!-- submit button -->
        <div class="d-grid gap-2">
             <a href="mailto:biswarup.saha@kgpian.iitkgp.ac.in" class="btn btn-primary" type="button">mail me</a>
          
        </div>
      </div>
      <br>
      <br>
      <br>
      <!-- footer & about me -->
      <div class="card text-bg-dark mb-3" >
        <div id="about"class="text-center card-header">About me</div>
        <div class="card-body">
          <h5 class="text-center card-title">I am Biswarup Saha</h5>
          <pre class="text-center card-text">
            Feel free to contact me for any job/internship offer that suits my profile.
            Mail me: biswarup.saha@kgpian.iitkgp.ac.in
          </pre>
          <p class="text-center card-text">copyrights@2023</p>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>