<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Welcome</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/skills">skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#about">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/projects">project details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/education&exp">Education & Experience</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x300/?machine learning" class="d-block w-30" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x300/?website" class="d-block w-30" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/1600x300/?research" class="d-block w-30" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

     <div class="container mt-4">
        <h1 id="skills" class="text-center text-success"> Skills </h1>
        <div class="row mot-3">
             <!-- fist column -->
             <div class="col-md-4">
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?programming" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">python</h5>
                       <p class="card-text">
                         Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically typed and garbage-collected.
                      </p>
                       
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?robotics" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Machine learning</h5>
                       <p class="card-text">
                         Machine learning is a branch of artificial intelligence (AI) 
                         and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, 
                         gradually improving its accuracy.
                       </p>
                     
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?software" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Naturtal Language processing</h5>
                       <p class="card-text">
                         Natural language processing (NLP) is a machine learning technology that gives computers the ability to interpret,
                         manipulate, and comprehend human language.
                       </p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <!-- second column -->
             <div class="col-md-4">
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?machine learning" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Frontend development</h5>
                       <p class="card-text">
                         A front-end developer builds the front-end portion of websites and web applications—the part users see and interact with.
                       </p>
                       
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?presentation" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Django framework</h5>
                       <p class="card-text">
                         Django is a free and open-source, Python-based web framework that follows the model–template–views architectural pattern.
                          It is maintained by the Django Software Foundation, an independent organization established in the US as a 501 non-profit.
                        </p>
                       
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?analytics" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">C++</h5>
                       <p class="card-text">
                         C++ is an object-oriented 
                         programming language which gives a clear structure to programs and allows code to be reused, lowering development costs. 
                       </p>
                       
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <!-- third column -->
             <div class="col-md-4">
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?web development" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Data Structures</h5>
                       <p class="card-text">
                         Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. 
                         Data Structures are fundamentals of any programming language around which a program is built.
                       </p>
                       <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?natural language processing" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Algorithms</h5>
                       <p class="card-text">
                         An algorithm is a procedure used for solving a problem or performing a computation. Algorithms act as an exact list of instructions
                         that conduct specified actions step by step in either hardware- or software-based routines.
                       </p>
                       
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="https://source.unsplash.com/500x1000/?designing" class="img-fluid rounded-start" alt="...">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">Data Science</h5>
                       <p class="card-text">
                         Data science is an umbrella term for all aspects of data processing—from the collection to 
                         modeling to insights. On the other hand, data analytics is mainly concerned with statistics, mathematics, and statistical analysis.
                       </p>
                       
                     </div>
                   </div>
                 </div>
               </div>
             </div>
        </div>
   </div>
   <br>
   <h1 id="contact"class="text-center"> Contact Me</h1>
      <div class="container mt-4">
        <div class=" text-center mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="text-center mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">How can I help you ? </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <!-- submit button -->
        <div class="d-grid gap-2">
             <a href="mailto:biswarup.saha@kgpian.iitkgp.ac.in" class="btn btn-primary" type="button">mail me</a>
          
        </div>
      </div>
      <br>
      <br>
      <br>
      <!-- footer & about me -->
      <div class="card text-bg-dark mb-3" >
        <div id="about"class="text-center card-header">About me</div>
        <div class="card-body">
          <h5 class="text-center card-title">I am Biswarup Saha</h5>
          <pre class="text-center card-text">
            Feel free to contact me for any job/internship offer that suits my profile.
            Mail me: biswarup.saha@kgpian.iitkgp.ac.in
          </pre>
          <p class="text-center card-text">copyrights@2023</p>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>